
*.csv
*.DS_Store
*.db
/Forecasting Churn of Customers/catboost_info
/SF Salaries/
/Oil Well Volume Prediction Model/
/Mobile User Classification Model/
/Gold Ore Recovery Model/
/Insurance Company Customer Models/
/Car Value Regression Model/
/Movie Review Sentiment Classification/
/Computer Vision Age Regression Model/
/Company Financial Analysis/